<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		form {
			margin-bottom: 10px;
		}
		.table {
			background-color: white;
		}
	</style>
</head>
<h1>药物检索</h1>
<div>
	<form class="col">
		<div>请选择要检索的中药</div>
	  <div class="form-group">
	    <label for="search">中药名称</label>
	    <input class="form-control dropdown-input" id="search-zhongyao" name="search-zhongyao" placeholder="选择中药">
	    <div class="scrollable-menu" id="search-zhongyao"></div>
	  </div>
	  <button type="submit" class="btn btn-primary" id="submit-zhongyao">提交</button>
<!-- 	  <a id="test" onclick="clickDownload(this)" download="downlaod.csv" href="#">download</a> -->
	</form>
	<div class="col">
		<table id="description" class="table table-bordered table-hover">
			<tbody>
    	</tbody>
		</table>
	</div>
</div>
<script type="text/javascript" src="/bundles/jiansuo.js"></script>
</html>