<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Medical Analysis Platform</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>医疗分析平台</h1>
    <form class="form-signin" action="/panel.html">
      <label for="user-name" class="sr-only">用户名</label>
      <div>
        <input type="text" id="user-name" class="form-control" placeholder="用户名" required autofocus>
      </div>
      <label for="pass-word" class="sr-only">密码</label>
      <div>
        <input type="password" id="pass-word" class="form-control" placeholder="密码" required>
      </div>
      <div>
        <input type="checkbox" id="check-box" name="remember" style="text-align:center" value="0">记住登录状态
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">登录</button>
      <span>还没有帐号？</span>
      <a href="/register.html">注册</a>
    </form>
  </body>
</html>
