<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/slider/bootstrap-slider.css">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/slider/bootstrap-slider.min.js"></script>
</head>

<body>
  <div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
        	<a>夏树科技</a>  
        </li>
        <li>
          <a href="#page-wenzhen">
            <div id="wenzhen" class="sidebar-item">智能问诊</div>
          </a>
        </li>
        <li>
          <a href="#page-relation">
            <div id="relation" class="sidebar-item">药物关联度分析</div>
          </a>
        </li>
        <li>
          <a href="#page-jiansuo">
            <div id="jiansuo" class="sidebar-item">中药检索</div>
          </a>
        </li>
        <li>
          <a href="#page-tuijian">
            <div id="tuijian" class="sidebar-item">新处方推荐</div>
          </a>
        </li>
        <li>
          <a href="#page-julei">
            <div id="julei" class="sidebar-item">新处方聚类</div>
          </a>
        </li>
        <li>
          <a href="#page-about">
            <div id="about" class="sidebar-item">关于我们</div>
          </a>
        </li>
      </ul>
    </div>

	  <a class="btn" id="menu-toggle">
	  	<img src="/icons/menu.png" width="25" height="25">
	  	<br>菜单</br>
	  </a>
    <div class="page-container">
  	  <div id="page-wenzhen" class="page-content"></div>
      <div id="page-relation" class="page-content"></div>
      <div id="page-jiansuo" class="page-content"></div>
      <div id="page-tuijian" class="page-content"></div>
      <div id="page-julei" class="page-content"></div>
      <div id="page-about" class="page-content"></div>
    </div>
  </div>

  <script>
    if (window.location.hash) {
      let hash = window.location.hash
      let page = hash.substr(6)
      $(`#${page}`).addClass("item-focus")
      $(hash).css("visibility", "visible")
    }

  	$("#page-wenzhen").ready(() => {
  		$("#page-wenzhen").load("/wenzhen.html")
      if (!window.location.hash) {
  		  $("#wenzhen").addClass("item-focus")
        $("#page-wenzhen").css("visibility", "visible")
      }
  	})
    $("#page-relation").ready(() => {
      $("#page-relation").load("/relation.html")
    })
    $("#page-jiansuo").ready(() => {
      $("#page-jiansuo").load("/jiansuo.html")
    })
    $("#page-tuijian").ready(() => {
      $("#page-tuijian").load("/tuijian.html")
    })
    $("#page-julei").ready(() => {
      $("#page-julei").load("/julei.html")
    })
    $("#page-about").ready(() => {
      $("#page-about").load("/about.html")
    })
	  $("#menu-toggle").click(e => {
	      e.preventDefault();
	      $("#wrapper").toggleClass("toggled")
	  })
	  $("#wenzhen").click(e => {
	  	$(".sidebar-item").removeClass("item-focus")
	  	$("#wenzhen").addClass("item-focus")
      $(".page-content").css("visibility", "hidden")
      $("#page-wenzhen").css("visibility", "visible")
	  })
    $("#relation").click(e => {
      $(".sidebar-item").removeClass("item-focus")
      $("#relation").addClass("item-focus")
      $(".page-content").css("visibility", "hidden")
      $("#page-relation").css("visibility", "visible")
    })
    $("#jiansuo").click(e => {
      $(".sidebar-item").removeClass("item-focus")
      $("#jiansuo").addClass("item-focus")
      $(".page-content").css("visibility", "hidden")
      $("#page-jiansuo").css("visibility", "visible")
    })
    $("#tuijian").click(e => {
      $(".sidebar-item").removeClass("item-focus")
      $("#tuijian").addClass("item-focus")
      $(".page-content").css("visibility", "hidden")
      $("#page-tuijian").css("visibility", "visible")
    })
    $("#julei").click(e => {
      $(".sidebar-item").removeClass("item-focus")
      $("#julei").addClass("item-focus")
      $(".page-content").css("visibility", "hidden")
      $("#page-julei").css("visibility", "visible")
    })
	  $("#about").click(e => {
	  	$(".sidebar-item").removeClass("item-focus")
	  	$("#about").addClass("item-focus")
      $(".page-content").css("visibility", "hidden")
      $("#page-about").css("visibility", "visible")
	  })
  </script>
  
</body>
</html>