body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

a:hover{
	text-decoration: none;
}
/*
.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}
*/

.head-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.small-btn {
	width: 100px;
	height: 30px;
	display: inline-block;
	line-height: 10px;
	text-align: center;
	margin: 10px;
}

.page-container {
	position: relative;
}
.page-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 15px;
	visibility: hidden;
}

.graphs {
	width: 100%;
	height: 500px;
	margin-top: 20px;
}

input.form-control, select.form-control {
	width: 500px;
	margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
	width: 100%;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	width: 100%;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-result {
	height: 300px;
	max-height: 300px;
	background-color: white;
	overflow: auto;
	border: 2px solid black;
	border-radius: 5px;
	padding-top: 8px;
	padding-left: 8px;
}

.scrollable-menu {
  height: auto;
  max-height: 100px;
  background-color: white;
  overflow-x: hidden;
  z-index: 1;
  position: absolute;
}

.slider.slider-horizontal .slider-track-high {
	background: white;
}

.loader-div {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: white;
	opacity: 0.5;
}

.loader {
	position: absolute;
	top: 45%;
	left: 48%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}